<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="header">
    <h1>Name Predictor</h1>
    <p>Think Of A Name In Your Mind</p>
  </div>
  <br>

  <!-- <div class="main-box" align="center" *ngIf="{show_main}"> -->
    <br>
    <p class="text">Press the line numbers which has letters of your name in the order</p>
    <!-- <div class="sub-div"> -->
      <span *ngFor="let x of alphabets; index as i">
        <br>
        <button class="button" (click)="onSelectFirst(x)">{{ i+1 }}</button>
        <span *ngFor="let y of x; index as i">
          <span class="circle">{{ y }}</span>
        </span>
      </span>
      <br>
      <!-- <input type="submit" class="submit_button" (click)="confirm_1()" value="Submit"> -->
    <!-- </div> -->
  <!-- </div> -->
  
  <span *ngFor="let x of userSelectedOptions; index as i">
    <span> 
      <br>
      <button class="button" (click)="onSelectSecond(i)">{{ i+1 }}</button>
    </span>
    <span *ngFor="let y of x; index as i">
      <span class="circle">{{ y }}</span>
    </span>
  </span>
  
<!-- <strong>{{ name }}</strong> -->
</body>
</html>
<router-outlet></router-outlet>
