* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

/* Increase the font size of the heading */
.header h1 {
    font-size: 40px;
}

.main-box {
    background-color: rgba(26, 188, 156, 0.3);
    box-sizing: border-box;
    width: auto;
    height: 560px;
}

.sub-div {
    background-color: rgba(188, 4, 105, 0.3);
    box-sizing: border-box;
    width: auto;
    height: 400px;
    margin: 40px 60px;
}

.text {
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
}

/* Full-width input fields */
input[type=number] 
{
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid black;
    background: #f1f1f1;
}

  /* Add a background color when the inputs get focus */
input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

.submit_button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid black;
    cursor: pointer;
    width: 25%;
    opacity: 0.9;
}

.submit_button:hover {
    opacity:1;
}

.main-div {
    float: left;
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
}

.circle {
    /* width: 120px;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    border: 3px solid #000;
    background-color:#A6BB8D; */
    padding: 20px 20px;
}

.button {
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 20px 40px;
    cursor: pointer;
    background-color: #4CAF50;
}